@font-face {
  font-family: 'DEATHCROW';
  src: url('/public/fonts/death_crow/DEATHCROW.ttf') format('truetype');
}

body {
  font-family: 'DEATHCROW', sans-serif;
}

.app {
  background-image: url('/public/zz.png'); /* Replace with your image URL */
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  height: 100vh;
  overflow: auto;
  padding: 20px;
  color: white;
}

.content {
  /* background-color: rgba(0, 0, 0, 0.5); Optional: To make content more readable */
  padding: 20px;
  border-radius: 10px;
}

.hover-effect, .hover-title {
  transition: color 0.3s ease;
}

.hover-effect:hover {
  color: red;
  cursor: pointer;
}

/* Container for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Hidden content of the dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(1px);
}

/* Style for the links in the dropdown */
.dropdown-content a {
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Add hover effect for links */
.dropdown-content a:hover {
  color: red;
  cursor: pointer;
}
.rhap_play-pause-button {
  transition: color 0.3s ease !important;
}
.rhap_play-pause-button:hover {
  color: red !important; /* Change to your desired color */
}

.rhap_progress-filled, .rhap_progress-indicator {
background-color: red !important; /* Change to your desired color */
}
.rhap_current-time, .rhap_total-time {
  color: rgb(184, 182, 182) !important; /* Change to your desired color */
}
.rhap_volume-indicator {
  background-color: red !important;
}

.Mui-focused {
  color: white !important;
}

.MuiInput-underline:after {
  border-bottom-color: white !important;
}

.rhap_repeat-button, .rhap_rewind-button, .rhap_forward-button {
 display: none !important;
}

.hidden-credits {
  transition: color 0.2s ease !important;
  color:black
}

.hidden-credits:hover {
  color:red
}